<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGPA Calculator</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 1200px;
            margin-top: 50px;
        }

        .form-group label {
            font-weight: bold;
        }

        .result {
            margin-bottom: 1rem;
            padding: 20px;
            background-color: #e9ecef;
            border-radius: 5px;
            text-align: center;
        }

        .result h2 {
            margin: 0;
            font-size: 24px;
            color: #343a40;
        }

        .card-columns {
            column-count: 3;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1 class="text-center mb-4">IITM BS CGPA Calculator</h1>
        <form method="post">
            <div class="row">
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Foundation</h5>
                            {% for subject in foundation_courses %}
                            <div class="form-group">
                                <label for="{{ subject }}">{{ subject.replace('_', ' ').title() }} ({{ credits[subject]
                                    }} credit)</label>
                                <select class="form-control" name="{{ subject }}" id="{{ subject }}">
                                    <option value="YTC" {% if grades[subject]=='YTC' %}selected{% endif %}>Yet to
                                        complete</option>
                                    {% for grade, value in [('S', 10), ('A', 9), ('B', 8), ('C', 7), ('D', 6), ('E', 4)]
                                    %}
                                    <option value="{{ grade }}" {% if grades[subject]==grade %}selected{% endif %}>{{
                                        grade }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Diploma in Programming</h5>
                            {% for subject in diploma_programming_courses %}
                            <div class="form-group">
                                <label for="{{ subject }}">{{ subject.replace('_', ' ').title() }} ({{ credits[subject]
                                    }} credit)</label>
                                <select class="form-control" name="{{ subject }}" id="{{ subject }}">
                                    <option value="YTC" {% if grades[subject]=='YTC' %}selected{% endif %}>Yet to
                                        complete</option>
                                    {% for grade, value in [('S', 10), ('A', 9), ('B', 8), ('C', 7), ('D', 6), ('E', 4)]
                                    %}
                                    <option value="{{ grade }}" {% if grades[subject]==grade %}selected{% endif %}>{{
                                        grade }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Diploma in Data Science</h5>
                            {% for subject in diploma_data_science_courses %}
                            <div class="form-group">
                                <label for="{{ subject }}">{{ subject.replace('_', ' ').title() }} ({{ credits[subject]
                                    }} credit)</label>
                                <select class="form-control" name="{{ subject }}" id="{{ subject }}">
                                    <option value="YTC" {% if grades[subject]=='YTC' %}selected{% endif %}>Yet to
                                        complete</option>
                                    {% for grade, value in [('S', 10), ('A', 9), ('B', 8), ('C', 7), ('D', 6), ('E', 4)]
                                    %}
                                    <option value="{{ grade }}" {% if grades[subject]==grade %}selected{% endif %}>{{
                                        grade }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-3 mb-3">Calculate CGPA</button>
        </form>

        {% if cgpa is not none %}
        <div class="result">
            <h2>Your CGPA: {{ cgpa }}</h2>
        </div>
        {% endif %}

        <div class="d-flex justify-content-center">
            <div class="mx-auto">
                <a href="https://www.linkedin.com/in/rajarshiroydev/" target="_blank">Linkedin</a>
                <a href="https://github.com/rajarshiroydev" target="_blank">Github</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>